<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="bookmark"></ion-menu-button>
    </ion-buttons>

    <ion-title>My profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label style="font-size: large;">Email address</ion-label>
    </ion-item>

    <ion-row>
      <ion-col size="6" offset="" style="padding-left: 20px;">
        <ion-input [disabled]="!editEmail" [(ngModel)]="email"></ion-input>
      </ion-col>
      <ion-col size="1" offset="1" *ngIf="editEmail==false" style="padding-left: 15px;">
        <ion-button  size="small" type="button" color="primary" shape="round"
          style="font-weight: bold;" (click)="onChangeEmail()">
          Change
          <ion-icon style="padding-left: 8px;" name="pencil-outline"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="1" offset="1" *ngIf="editEmail==true" style="padding-left: 30px;">
        <ion-button  size="small" type="submit" color="primary"
          shape="round" style="font-weight: bold;" (click)="onSaveEmail()">
          Save
          <ion-icon style="padding-left: 8px;" name="checkmark"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>


    <ion-item></ion-item>

    <ion-item>
      <ion-label style="font-size: large;">Password</ion-label>
      <ion-row>
        <ion-col size="1">
        </ion-col>
        <ion-col size="4" *ngIf="editPassword==false">
          <ion-button size="small" type="button" color="primary" shape="round" style="font-weight: bold;"
            (click)="onChangePassword()">
            Change
            <ion-icon style="padding-left: 8px;" name="key"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item *ngIf="editPassword==true">
      <ion-label position="floating" color="bookmark">New password:</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
    </ion-item>
    <ion-item *ngIf="editPassword==true">
      <ion-label position="floating" color="bookmark">Confirm new password:</ion-label>
      <ion-input type="password" [(ngModel)]="confirmNewPassword"></ion-input>
    </ion-item>

    <ion-row *ngIf="editPassword==true" style="padding-right: 8px;">
      <ion-col size="1" offset="8">
        <ion-button size="small" type="button" color="primary" shape="round" style="font-weight: bold;"
          (click)="onSavePassword()">
          Save
          <ion-icon style="padding-left: 8px;" name="checkmark"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    

    <ion-item></ion-item>

    <ion-item>
      <ion-label style="font-size: large;">Delete account</ion-label>
      <ion-row>
        <ion-col size="1">
        </ion-col>
        <ion-col size="4">
          <ion-button size="small" type="button" color="danger" shape="round" style="font-weight: bold;"
            (click)="onDeleteAccountAlert()">
            Delete
            <ion-icon style="padding-left: 8px;" name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-item>


  </ion-list>


  <!-- <ion-grid fixed>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-row>
          <ion-item>
            <ion-label>
              Email address:
            </ion-label>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label class="class=mbsc-italic" >
              jovana.vida@gmail.com
            </ion-label>
          </ion-item>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
