<ion-item style="display: flex; align-items: center; justify-content: center; padding-left: 3%;">
  <ion-card color="primary" [routerLink]="['/','recipes','tabs','explore',recipe.id]" style="width: 94%;">
    <ion-img [src]="recipe.imageUrl" style="width: 96%; padding-left: 3%; padding-top: 5px;"> </ion-img>

    <ion-card-header>
      <ion-card-title> {{recipe.title}}</ion-card-title>
      <ion-card-subtitle style="text-transform: none; font-size: medium;">{{recipe.shortDesc}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-item>