
<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="my-recipes">
      <ion-icon color="bookmark" name="create-outline"></ion-icon>
      <ion-label color="bookmark">My recipes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="explore">
      <ion-icon color="bookmark" name="compass-outline"></ion-icon>
      <ion-label color="bookmark">Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="saved">
      <ion-icon color="bookmark" name="bookmarks-outline"></ion-icon>
      <ion-label color="bookmark">Saved</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>