<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="bookmark" defaultHref="/recipes/tabs/explore">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{recipe?.title}}</ion-title>

    <ion-icon *ngIf="isSaved==true" class="ion-padding-end" size="large" name="bookmark" color="bookmark" slot="end"
      (click)="openAlertForRemove()"></ion-icon>

    <ion-icon *ngIf="isSaved==false" class="ion-padding-end" size="large" name="bookmark-outline" color="bookmark" slot="end"
      (click)="openAlertForSave()"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-img class="ion-padding-vertical ion-text-center" [src]="recipe?.imageUrl" style="width: 90%; padding-left: 8%;">
  </ion-img>
  <ion-text class="ion-padding-vertical ion-padding-start" style="display: block; white-space: pre-line;">
    {{recipe?.description}}</ion-text>
</ion-content>
