<ion-header>
  <ion-toolbar>
    <ion-title>Edit recipe</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onEditRecipe()">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Recipe title</ion-label>
            <ion-input type="text" ngModel name="title" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Short recipe description</ion-label>
            <ion-textarea type="text" rows="2" ngModel name="shortDesc" required></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Recipe description</ion-label>
            <ion-textarea type="text" rows="8" ngModel name="description" required></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Image URL for the recipe</ion-label>
            <ion-input type="imageUrl" ngModel name="imageUrl" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button type="submit" color="bookmark" expand="block" [disabled]="f.invalid">
            Edit recipe
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button type="button" color="danger" expand="block" (click)="openAlert($event)">
            Delete recipe
          </ion-button>
        </ion-col>
      </ion-row>


    </ion-grid>
  </form>
</ion-content>
